body {
  min-width: 1020px;
  margin: 0;
  padding: 0;

  font-size: 16px;
  font-weight: normal;
  font-family: "Roboto", "Arial", sans-serif;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
