body {
  min-width: 320px;
  margin: 0 auto;
  padding: 0;

  font-size: 16px;
  font-weight: 300;
  font-family: $mainFont;
  line-height: 22px;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
