.app {
  margin-top: 96px;

  &__title-wrapper {
    padding: 36px 0;
    background-color: #f7f7f7;

    & h4 {
      margin: 0;
      text-align: center;

      & span {
        text-transform: none;
      }
    }
  }

  &__content {
    & h4 {
      margin: 105px 0 0;
    }

    & > p {
      margin: 30px 0 0;
    }
  }

  &__list-elements {
    margin: 47px 0 0;
  }

  &__item-element {
    display: flex;

    &:last-child {
      margin: 75px 0 0;
      // display: flex;
    }
  }

  &__picture {
    width: 32%;

    & img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &__item-content {
    box-sizing: border-box;
    width: 68%;
    padding-left: 11%;

    & p {
      margin-top: 6px;
      margin-bottom: 0;
    }
  }

  &__visualization-wrapper {
    margin-top: 33px;
  }

  &__visualization-list {
    margin: 0;
  }

  &__hover-above {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 292px;
    margin: 0;
  }

  &__hover-below {
    display: none;
    align-items: center;
    height: 292px;
    width: 185px;
    margin: 0 auto;
    line-height: 36px;
  }

  &__visualization-item {
    position: relative;
    display: flex;
    justify-content: center;

    &:last-child {
      margin-top: 60px;

      & .app__visualization-text {
        // top: 0;
        // top: 78px;
        left: calc(50% - 150px);
        width: 300px;
      }
    }

    & .app__visualization-text {
      &:hover .app__hover-above {
        display: none;
      }

      &:hover .app__hover-below {
        display: flex;
      }
    }
  }

  &__visualization-text {
    position: absolute;
    top: 0;
    // top: 106px;
    left: calc(50% - 140px);
    width: 280px;

    // font-family: "Info", "Arial", sans-serif;
    font-size: 16px;
    text-align: center;

    & p {
      font-weight: 400;

      & br {
        margin-top: 5px;
      }

      & span {
        // font-family: "Info", "Arial", sans-serif;
        font-weight: 700;
      }
    }
  }
}

@media (min-width: 500px) {
  .app {
    &__item-element {
      margin: 0 auto;
      width: 440px;

      &:last-child {
        margin: 75px auto 0;
      }
    }
  }
}

@media (min-width: 768px) {
  .app {
    margin-top: 72px;

    &__title-wrapper {
      padding: 42px 0;
    }

    &__content {
      & h4 {
        margin-top: 63px;
      }
    }

    &__list-elements {
      display: flex;
      margin: 39px 0 0;
    }

    &__item-element {
      flex-direction: column;
      justify-content: space-between;
      height: 205px;
      padding: 0 55px;

      &:last-child {
        margin: 0;
      }
    }

    &__picture {
      width: auto;
      padding-left: 27px;

      & img {
        width: 113px;
      }
    }

    &__item-content {
      width: auto;
      margin-top: auto;
    }

    &__visualization-list {
      display: flex;
    }

    &__hover-above {
      width: 180px;
      height: 235px;
      margin: 0 auto;
    }

    &__hover-below {
      width: 150px;
      height: 235px;
      margin: 0 auto;
    }

    &__visualization-item {
      width: 100%;

      &:last-child {
        margin-top: 0;

        & .app__visualization-text {
          left: calc(50% - 115px);
          width: 230px;
          // top: 47px;
        }
      }

      & img {
        width: 245px;
      }
    }

    &__visualization-text {
      left: calc(50% - 115px);
      width: 230px;
      // top: 75px;

      & p {
        line-height: 20px;

        & span {
          line-height: 24px;

          & br {
            display: none;
          }
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  .app {
    margin-top: 113px;

    &__title-wrapper {
      padding: 65px 0;
    }

    &__content {
      & h4 {
        margin-top: 119px;
      }
    }

    &__list-elements {
      margin: 33px 0 0;
    }

    &__item-element {
      width: 100%;
      height: 257px;
      padding: 0 60px 0 95px;
    }

    &__picture {
      display: flex;
      justify-content: flex-start;

      & img {
        width: 149px;
      }
    }

    &__item-content {
      & b {
        font-size: 18px;
      }

      & p {
        margin-top: 10px;
      }
    }

    &__visualization-wrapper {
      margin-top: 60px;
    }

    &__hover-above {
      height: 300px;
      width: 221px;
    }

    &__hover-below {
      height: 300px;
      width: 184px;
      margin: 0 auto;
    }

    &__visualization-item {
      &:last-child {
        & .app__visualization-text {
          // top: 88px;
          left: calc(50% - 145px);
          width: 290px;
        }
      }

      & img {
        width: 316px;
      }
    }

    &__visualization-text {
      // top: 116px;
      left: calc(50% - 145px);
      width: 290px;

      & p {
        font-size: 18px;
        line-height: 30px;

        & span {
          line-height: 34px;
        }
      }
    }
  }
}

@media (min-width: 1280px) {
  .app {
    margin-top: 145px;

    &__title-wrapper {
      padding: 85px 0;

      & h4 {
        & span {
          display: inline-block;
          margin-top: 10px;
        }
      }
    }

    &__content {
      & h4 {
        margin-top: 164px;
      }

      & > p {
        margin: 50px 0 0;
      }
    }

    &__list-elements {
      margin: 60px 0 0;
    }

    &__item-element {
      height: 306px;
      padding: 0 155px 0 140px;
    }

    &__picture {
      padding: 0;

      & img {
        width: 190px;
      }
    }

    &__item-content {
      padding-left: 0;

      & b {
        font-size: 24px;
      }

      & p {
        margin-top: 16px;
      }
    }

    &__visualization-wrapper {
      margin-top: 75px;
    }

    &__hover-above {
      width: 260px;
      height: 380px;
    }

    &__hover-below {
      // margin: -38px auto 0;
      height: 380px;
      width: 260px;
    }

    &__visualization-item {
      &:last-child {
        & .app__visualization-text {
          // top: 110px;
          left: calc(50% - 176px);
          width: 350px;
        }
      }

      & img {
        width: 395px;
      }
    }

    &__visualization-text {
      // top: 138px;
      left: calc(50% - 176px);
      width: 350px;

      & p {
        font-size: 24px;
      }
    }
  }
}

@media (min-width: 1920px) {
  .app {
    margin-top: 273px;

    &__title-wrapper {
      padding: 102px 0;

      & h4 {
        & span {
          display: inline-block;
          margin-top: 10px;
        }
      }
    }

    &__content {
      & h4 {
        margin-top: 279px;
      }

      & > p {
        margin: 75px 0 0;
      }
    }

    &__list-elements {
      margin: 111px 0 0;
    }

    &__item-element {
      height: 428px;
      padding: 0 205px 0 210px;
    }

    &__picture {
      padding: 0;

      & img {
        width: 286px;
      }
    }

    &__item-content {
      & b {
        font-size: 36px;
      }

      & p {
        margin-top: 33px;
      }
    }

    &__visualization-wrapper {
      margin-top: 98px;
    }

    &__hover-above {
      width: 420px;
      height: 565px;
    }

    &__hover-below {
      // margin: -78px auto 0;
      width: 320px;
      height: 565px;
    }

    &__visualization-item {
      &:last-child {
        & .app__visualization-text {
          // top: 153px;
          left: calc(50% - 275px);
          width: 540px;
        }
      }

      & img {
        width: 593px;
      }

      & .app__visualization-text {
        &:hover p {
          font-size: 30px;
          line-height: 40px;
          width: 390px;
        }
      }
    }

    &__visualization-text {
      // top: 207px;
      left: calc(50% - 275px);
      width: 540px;

      & p {
        font-size: 36px;
        line-height: 52px;

        & span {
          line-height: 56px;
        }
      }
    }
  }
}
