.banner {
  position: sticky;
  bottom: 0;
  z-index: 1;
  margin: 0 auto;

  background-color: #03dba1;
  box-shadow: 6px 0 3px 3px #00000017;

  animation-duration: 1s;

  & a {
    color: #000000;
  }

  &--hidden {
    display: none;
  }

  &__content-wrapper {
    position: relative;
    box-sizing: border-box;
    height: 92px;
    padding: 12px 0;
  }

  &__content {
    & p {
      width: 157px;
      margin: 0 auto;

      text-align: center;
      font-size: 14px;
      line-height: 19px;
    }
  }

  &__logo {
    position: absolute;
    right: calc(50% - 38px);
    bottom: -16px;

    & img {
      display: block;
    }
  }

  &__close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;

    padding: 0;
    width: 28px;
    height: 28px;

    border: 0;
    background-color: transparent;

    cursor: pointer;

    &::before,
    &::after {
      content: "";

      position: absolute;
      top: 13px;
      left: 1px;

      width: 26px;
      height: 2px;

      background-color: #000000;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  &__google-analytics {
    background-color: #f4f4f7;

    & .banner__content-wrapper {
      height: auto;
      padding: 30px 0;
    }


    & .banner__content {
      & h3 {
        margin: 0;
        margin-bottom: 15px;
        opacity: 0.75;
      }

      & p {
        width: auto;
        margin: auto;
        margin-bottom: 30px;

        text-align: left;
      }

      & a {
        font-weight: 700;
      }
    }
  }

  & .banner__button-wrapper {
    display: flex;
    flex-direction: column;
  }

  &__button {
    height: 38px;

    font-weight: 700;
    border-radius: 19px;
    background-color: transparent;

    cursor: pointer;

    &--opt-in {
      color: #ffffff;
      border: none;
      background-color: #ff5f0e;

      &:hover {
        background-color: #09b92b;
      }
    }

    &--opt-out {
      margin-bottom: 15px;
      border: 2px solid #000000;
    }
  }
}

@media (min-width: 470px) {
  .banner {
    & .banner__button-wrapper {
      display: flex;
      flex-direction: row;
    }

    &__button {
      width: 195px;

      &--opt-out {
        margin-bottom: 0;
        margin-right: 20px;
      }
    }
  }
}

@media (min-width: 768px) {
  .banner {
    &__content-wrapper {
      height: 65px;
    }

    &__content {
      display: flex;
      align-items: center;
      height: 100%;

      & p {
        width: 320px;
        margin: 0 auto 0 calc(50% - 200px);

        // text-align: center;
        font-size: 16px;
        // line-height: 19px;
      }
    }

    &__logo {
      // right: calc(50% - 38px);
      bottom: 2px;
      right: calc(50% - 190px);

      & img {
        height: 62px;
        width: auto;
      }
    }

    &__close-button {
      top: 19px;
      right: 30px;

      &::before,
      &::after {
        top: 14px;
        left: 2px;

        width: 24px;
      }
    }

    &__google-analytics {
      & .banner__content {
        flex-direction: column;
        align-items: flex-start;

        & p {
          width: auto;
          margin: auto;
          margin-bottom: 30px;

          font-size: 14px;
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  .banner {
    &__google-analytics {
      & .banner__content {
        & p {
          font-size: 16px;
        }
      }
    }
  }
}

@media (min-width: 1920px) {
  .banner {
    &__google-analytics {
      & .banner__content {
        & h3 {
          font-size: 32px;
          line-height: 34px;
        }

        & p {
          font-size: 20px;
          line-height: 27px;
        }
      }
    }

    &__button {
      width: 250px;

      font-size: 20px;
      line-height: 27px;
    }
  }
}
