.banner {
  position: sticky;
  bottom: 0;
  z-index: 1;
  margin: 0 auto;

  background-color: #03dba1;
  box-shadow: 6px 0 3px 3px #00000017;

  & a {
    color: #000000;
  }

  &--hidden {
    display: none;
  }

  &__content-wrapper {
    position: relative;
    box-sizing: border-box;
    height: 92px;
    padding: 12px 0;
  }

  &__content {
    & p {
      width: 157px;
      margin: 0 auto;

      text-align: center;
      font-size: 14px;
      line-height: 19px;
    }
  }

  &__logo {
    position: absolute;
    right: calc(50% - 38px);
    bottom: -16px;

    & img {
      display: block;
    }
  }

  &__button {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;

    padding: 0;
    width: 28px;
    height: 28px;

    border: 0;
    background-color: transparent;

    cursor: pointer;

    &::before,
    &::after {
      content: "";

      position: absolute;
      top: 13px;
      left: 1px;

      width: 26px;
      height: 2px;

      background-color: #000000;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }
}


@media (min-width: 768px) {
  .banner {
    &__content-wrapper {
      height: 65px;
    }

    &__content {
      display: flex;
      align-items: center;
      height: 100%;

      & p {
        width: 320px;
        margin: 0 auto 0 calc(50% - 200px);

        // text-align: center;
        font-size: 16px;
        // line-height: 19px;
      }
    }

    &__logo {
      // right: calc(50% - 38px);
      bottom: 2px;
      right: calc(50% - 190px);

      & img {
        height: 62px;
        width: auto;
      }
    }

    &__button {
      top: 19px;
      right: 30px;

      &::before,
      &::after {
        top: 14px;
        left: 4px;

        width: 24px;
      }
    }
  }
}
