.concept {
  &__content-wrapper {
    padding-top: 100px;
  }

  &__content {
    & h3 {
      margin: 0;

      font-family: "Info", "Arial", sans-serif;
      font-weight: 400;
      font-size: 18px;
      text-transform: uppercase;
    }
  }

  &__content p {
    margin: 30px 0 0;
  }
}

@media (min-width: 700px) {
  .concept {
    &__content-wrapper {
      padding-top: 70px;
    }

    &__content {
      & h3 {
        font-size: 16px;
      }
    }

    &__content p {
      margin: 20px 0 0;

      font-size: 14px;
      line-height: 26px;
    }
  }
}

@media (min-width: 900px) {
  .concept {
    &__content-wrapper {
      padding-top: 100px;
    }

    &__content {
      width: 855px;

      & h3 {
        font-size: 20px;
      }
    }

    &__content p {
      margin: 30px 0 0;

      font-size: 16px;
    }
  }
}
