.concept {
  &__content-wrapper {
    margin-top: 99px;
  }

  &__content {
    & h3 {
      margin: 0;
    }

    & p {
      margin: 30px 0 0;
    }
  }
}

@media (min-width: 768px) {
  .concept {
    &__content-wrapper {
      margin-top: 70px;
    }

    &__content p {
      margin: 14px 0 0;

      font-size: 14px;
    }
  }
}

@media (min-width: 1024px) {
  .concept {
    &__content-wrapper {
      margin-top: 122px;
    }

    &__content p {
      margin: 23px 0 0;

      font-size: 16px;
    }
  }
}

@media (min-width: 1280px) {
  .concept {
    &__content-wrapper {
      margin-top: 152px;
    }

    &__content p {
      margin: 33px 0 0;
    }
  }
}

@media (min-width: 1920px) {
  .concept {
    &__content-wrapper {
      margin-top: 300px;
    }

    &__content p {
      margin: 43px 0 0;

      font-size: 20px;
    }
  }
}
