.form {
  &__input {
    &--error {
      border: 1px solid #e31919;

      &:focus {
        border: 1px solid #e31919;
      }
    }
  }

  &__message {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    // height: 50px;
    margin-top: 5px;
    // padding: 0 10px;

    font-family: "Info", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    line-height: 18px;

    &--error {
      color: #e31919;
    }

    &--success {
      background-color: #42c022;
      border-radius: 5px;
    }

    &--hidden {
      display: none;
    }

    & p {
      margin: 0;
    }
  }

  &__input-message {
    position: absolute;
    top: -17px;
    // bottom: -15px;
    left: 0;
    display: block;

    font-family: "Info", "Arial", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #e31919;
  }

  &__button {
    color: #ffffff;
    background-color: #ff5f0e;
    border: none;
    border-radius: 5px;

    &--success {
      content: "aaa";
      color: #000000;
      text-transform: none;
      background-color: #ffffff;
      border: 2px solid #09b92b;

      pointer-events: none;

      &:focus {
        border: 2px solid #09b92b;
      }
    }
  }
}

@media (min-width: 768px) {
  .form {
    &__input-message {
      font-size: 12px;
    }
  }
}

@media (min-width: 1024px) {
  .form {
    &__message {
      justify-content: flex-start;
    }

    &__button {
      &--success {
        width: 100%;
      }
    }

    & .form__message {
      justify-content: flex-start;
    }
  }
}

@media (min-width: 1920px) {
  .form {
    &__message {
      font-size: 20px;
    }

    &__input-message {
      top: -23px;
      font-size: 16px;
    }
  }
}
