.main-nav {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    height: 72px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  &__logo {
    display: block;
    width: auto;
    height: 100%;

    & img {
      width: auto;
      height: 100%;
      min-height: 52px;
    }
  }
}

@media (min-width: 1280px) {
  .main-nav {
    &__wrapper {
      height: 90px;
      padding-top: 14px;
      padding-bottom: 14px;
    }
  }
}

@media (min-width: 1920px) {
  .main-nav {
    &__wrapper {
      height: 100px;
      padding-top: 16px;
      padding-bottom: 16px;
    }
  }
}
