.method {
  &__content-wrapper {
    margin-top: 100px;
  }

  &__content {
    & h3 {
      margin: 0;
    }

    & p {
      margin: 35px 0 0;
    }
  }

  &__visualization-wrapper {
    margin-top: 34px;
  }

  &__visualization-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &__visualization-item {
    width: 31.3%;

    &:nth-child(-n + 3) {
      margin-bottom: 35px;
    }

    &:nth-child(3n) {
      margin-right: 0;
    }

    & img {
      display: block;
      margin: 0 auto;
    }
  }
}

@media (min-width: 768px) {
  .method {
    &__content-wrapper {
      margin-top: 60px;
    }

    &__content {
      width: 100%;

      & p {
        margin: 13px 0 0;

        // font-size: 14px;
        line-height: 26px;
      }
    }

    &__visualization-wrapper {
      margin-top: 35px;
    }

    &__visualization-item {
      width: 16.6%;

      &:nth-child(-n + 3) {
        margin-bottom: 0;
      }
    }
  }
}

@media (min-width: 1024px) {
  .method {
    &__content-wrapper {
      margin-top: 38px;
    }

    &__content {
      & p {
        margin: 23px 0 0;
      }
    }

    &__visualization-wrapper {
      margin-top: 52px;
    }

    &__visualization-item {
      & img {
        width: auto;
        height: 109px;
      }
    }
  }
}

@media (min-width: 1280px) {
  .method {
    &__content-wrapper {
      margin-top: 76px;
    }

    &__content {
      & p {
        margin: 33px 0 0;

        line-height: 21px;
      }
    }

    &__visualization-wrapper {
      margin-top: 79px;
    }

    &__visualization-item {
      & img {
        // width: auto;
        height: 131px;
      }
    }
  }
}

@media (min-width: 1920px) {
  .method {
    &__content-wrapper {
      margin-top: 148px;
    }

    &__content {
      & p {
        margin: 48px 0 0;

        font-size: 20px;
        line-height: 26px;
      }
    }

    &__visualization-wrapper {
      margin-top: 71px;
    }

    &__visualization-item {
      & img {
        height: 198px;
      }
    }
  }
}
