.newsletter {
  position: relative;
  overflow: hidden;

  border: 1px solid #b1afaf;

  &__bg {
    position: absolute;
    top: calc(100% - 470px);
    right: 0;
    z-index: -1;
    width: 320px;
    height: 500px;

    background-image: linear-gradient(to left, rgba(255, 255, 255, 0.1) 90%, rgba(255, 255, 255, 1)), url("../img/bg-tuerkis@1x.png");
    background-position: 43px 0;
    background-size: 320px auto;
    background-repeat: no-repeat;
  }

  &__content-wrapper {
    padding: 47px 0 39px;
  }

  &__content {
    & h3 {
      margin: 0;

      font-family: "Info", "Arial", sans-serif;
      font-weight: 700;
      font-size: 18px;
    }
  }

  &__subscribe {
    margin-top: 18px;

    & form {
      margin-top: 39px;
    }
  }
}

@media (min-width: 500px) {
  .newsletter {
    // &__content {
    //   padding: 32px 0 30px;

    //   & h3 {
    //     font-size: 16px;
    //   }
    // }

    &__subscribe {
      width: 440px;
      // padding-top: 12px;

      // & p {
      //   width: 330px;
      //   font-size: 14px;
      //   line-height: 19px;
      // }
    }
  }
}

@media (min-width: 600px) {
  .newsletter {
    &__bg {
      top: calc(100% - 797px);
      width: 550px;
      height: 1000px;

      background-position: 60px 0;
      background-size: 550px auto;
    }

    // &__subscribe {
    //   width: 440px;
    // }
  }
}

@media (min-width: 768px) {
  .newsletter {
    &__content-wrapper {
      padding: 32px 0 32px;
    }

    &__content {
      & h3 {
        font-size: 16px;
      }
    }

    &__subscribe {
      // width: 440px;
      margin-top: 12px;

      & p {
        width: 330px;
        font-size: 14px;
        line-height: 19px;
      }

      & form {
        margin-top: 18px;
        width: 424px;
      }
    }
  }
}

@media (min-width: 1024px) {
  .newsletter {
    &__bg {
      top: calc(100% - 1029px);
      width: 710px;
      height: 1200px;

      background-position: 64px 0;
      background-size: 710px auto;
    }

    &__content-wrapper {
      padding: 48px 0 52px;
    }

    &__content {
      & h3 {
        font-size: 19px;
      }
    }

    &__subscribe {
      width: 390px;
      margin-top: 19px;
    }

    & p {
      margin: 0;
      // padding-bottom: 33px;
      width: 435px;
    }

    & form {
      margin-top: 32px;
    }
  }
}

@media (min-width: 1280px) {
  .newsletter {
    &__bg {
      top: calc(100% - 1306px);
      width: 900px;
      height: 1500px;

      background-position: 87px 0;
      background-size: 900px auto;
    }

    &__content {
      padding: 66px 0 115px;

      & h3 {
        font-size: 25px;
      }
    }

    &__subscribe {
      width: 500px;
      padding-top: 25px;
    }

    & p {
      font-size: 16px;
      line-height: 24px;
      padding-bottom: 18px;
      width: 540px;
    }
  }
}

@media (min-width: 1700px) {
  .newsletter {
    // &__bg {
    //   top: calc(100% - 1970px);
    //   width: 1350px;
    //   height: 2500px;

    //   background-position: 140px 0;
    //   background-size: 1350px auto;
    // }

    &__content {
      padding: 90px 0 180px;

      & h3 {
        font-size: 38px;
        line-height: 38px;
      }
    }

    &__subscribe {
      width: 730px;
      padding-top: 30px;
    }

    & p {
      font-size: 20px;
      line-height: 26px;
      padding-bottom: 56px;
      width: 810px;
    }
  }
}

@media (min-width: 1800px) {
  .newsletter {
    &__bg {
      top: calc(100% - 1970px);
      width: 1350px;
      height: 2500px;

      background-position: 140px 0;
      background-size: 1350px auto;
    }

    &__content {
      padding: 90px 0 180px;

      & h3 {
        font-size: 38px;
        line-height: 38px;
      }
    }

    &__subscribe {
      width: 730px;
      padding-top: 30px;
    }

    & p {
      // font-size: 20px;
      line-height: 26px;
      padding-bottom: 56px;
      width: 810px;
    }
  }
}
