.newsletter {
  position: relative;
  overflow: hidden;

  border: 1px solid #b1afaf;

  &__bg {
    position: absolute;
    top: calc(100% - 470px);
    right: 0;
    z-index: -1;
    width: 320px;
    height: 500px;

    background-image: linear-gradient(to left, rgba(255, 255, 255, 0.1) 90%, rgba(255, 255, 255, 1)), url("../img/bg-tuerkis@1x.png");
    background-position: 43px 0;
    background-size: 320px auto;
    background-repeat: no-repeat;
  }

  &__content {
    padding: 50px 0;

    & h3 {
      margin: 0;

      font-family: "Info", "Arial", sans-serif;
      font-weight: 700;
      font-size: 18px;
    }
  }

  &__subscribe {
    padding-top: 20px;
  }
}

@media (min-width: 450px) {
  .newsletter {
    &__content {
      padding: 32px 0 30px;

      & h3 {
        font-size: 16px;
      }
    }

    &__subscribe {
      padding-top: 12px;

      & p {
        width: 330px;
        font-size: 14px;
        line-height: 19px;
      }
    }
  }
}

@media (min-width: 600px) {
  .newsletter {
    &__bg {
      top: calc(100% - 797px);
      right: 0;
      width: 550px;
      height: 1000px;

      background-position: 60px 0;
      background-size: 550px auto;
    }

    &__subscribe {
      width: 354px;
    }
  }
}

@media (min-width: 900px) {
  .newsletter {
    &__bg {
      top: calc(100% - 1029px);
      right: 0;
      width: 710px;
      height: 1200px;

      background-position: 64px 0;
      background-size: 710px auto;
    }

    &__content {
      padding: 48px 0 52px;

      & h3 {
        font-size: 19px;
      }
    }

    &__subscribe {
      width: 390px;
      padding-top: 19px;
    }

    & p {
      padding-bottom: 33px;
      width: 435px;
    }
  }
}
