.offer {
  &__content-wrapper {
    margin: 20px 0 0;
  }

  &__logo {
    & img {
      display: block;
      margin: 0 auto;
    }
  }

  &__content {
    margin-top: 45px;

    & h3 {
      margin: 0;

      font-family: "Info", "Arial", sans-serif;
      font-weight: 400;
      font-size: 20px;
      text-transform: uppercase;
      text-align: center;
    }

    & p {
      margin: 30px 0 0;
    }
  }

  &__subscribe {
    margin-top: 40px;

    & > p {
      font-size: 14px;
      line-height: 26px;
    }
  }
}

@media (min-width: 375px) and (orientation: portrait) {
  .offer {
    position: relative;
    overflow: hidden;

    &__bg {
      position: absolute;
      top: 0;
      right: 0;
      z-index: -1;
      width: 347px;
      height: 1000px;

      background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url("../img/bg-graublau@1x.png");
      background-position: 305px 0;
      background-size: 347px auto;
      background-repeat: no-repeat;
    }

    &__wrapper {
      display: flex;
      flex-direction: column;
      height: calc(100vh - 72px);
      // background-color: chartreuse;
    }

    &__content-wrapper {
      display: flex;
      flex-direction: column;
      height: 70%;
    }

    &__logo {
      height: 40%;

      & img {
        display: block;
        margin: 0 auto;
        height: 100%;
        width: auto;
      }
    }

    &__content {
      display: flex;
      flex-direction: column;
      height: 60%;
      // margin-top: 44px;
      // margin-top: auto;
      // margin-top: 13%;

      & h3 {
        margin-top: auto;
      }

      & p {
        margin-top: 28px;
        // margin-top: 8%;
      }
    }

    &__subscribe {
      display: flex;
      flex-direction: column;
      height: 30%;
      width: 100%;
      margin-top: auto;
      // margin-top: 14%;
      margin-bottom: 2%;

      & p {
        margin-top: auto;
        margin-bottom: 0;
      }

      & form {
        margin-top: 15px;
      }
    }
  }
}

@media (min-width: 500px) and (orientation: portrait) {
  .offer {
    &__logo {
      height: 50%;
    }

    &__content {
      height: 50%;
      // width: 500px;
      margin-left: auto;
      margin-right: auto;
      // margin-top: 10%;
      // margin-top: 80px;

      & p {
        & br {
          display: block;
          content: "";
          // margin-top: 10px;
        }
        // margin-top: 5%;
      }
    }

    &__subscribe {
      width: 440px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

@media (min-width: 768px) and (orientation: portrait) {
  .offer {
    padding-bottom: 19px;

    &__bg {
      top: 0;
      right: 0;
      width: 650px;
      height: 1000px;

      background-position: 530px -105px;
      background-size: 650px auto;
    }

    &__wrapper {
      height: auto;
    }

    &__content-wrapper {
      flex-direction: row;
      height: 50%;
      margin: 60px 0 0;
    }

    &__logo {
      order: 2;
      height: auto;
      width: 29%;
      margin-left: auto;
      margin-right: -5px;

      & img {
        width: 100%;
        height: auto;
        // height: 199px;
      }
    }

    &__content {
      box-sizing: border-box;
      order: 1;
      width: 71%;
      // width: 440px;
      height: auto;
      margin-top: 0;
      margin-left: 0;
      margin-right: 0;
      padding-right: 7%;
      // padding-right: 40px;

      & h3 {
        margin-top: 0;
        font-size: 18px;
        text-align: left;
      }

      & p {
        margin: 15px 0 0;
        font-size: 14px;
        line-height: 26px;

        & br {
          margin-top: 0;
        }
      }
    }

    &__subscribe {
      width: 440px;
      height: 50%;
      // margin-top: auto;
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 0;
      margin-top: 37px;

      & p {
        font-size: 14px;
        line-height: 26px;
      }

      & form {
        width: 424px;
        margin-top: 31px;
      }
    }
  }
}

@media (min-width: 768px) and (orientation: landscape) {
  .offer {
    position: relative;
    overflow: hidden;
    padding-bottom: 19px;

    &__bg {
      position: absolute;
      top: 0;
      right: 0;
      z-index: -1;
      width: 650px;
      height: 1000px;

      background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url("../img/bg-graublau@1x.png");
      background-position: 530px -105px;
      background-size: 650px auto;
      background-repeat: no-repeat;
    }

    &__wrapper {
      height: auto;
    }

    &__content-wrapper {
      display: flex;
      flex-direction: row;
      height: 50%;
      margin: 60px 0 0;
    }

    &__logo {
      order: 2;
      margin-left: auto;
      margin-right: -5px;

      & img {
        width: auto;
        height: 199px;
      }
    }

    &__content {
      order: 1;
      width: 440px;
      margin-top: 0;
      margin-left: 0;
      margin-right: 0;

      & h3 {
        font-size: 18px;
        text-align: left;
      }

      & p {
        margin: 15px 0 0;
        font-size: 14px;
        line-height: 26px;

        & br {
          margin-top: 0;
        }
      }
    }

    &__subscribe {
      width: 440px;
      height: 50%;
      // margin-top: auto;
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 0;
      margin-top: 37px;

      & p {
        font-size: 14px;
        line-height: 26px;
      }

      & form {
        width: 424px;
        margin-top: 31px;
      }
    }
  }
}

@media (min-width: 830px) and (orientation: portrait) {
  .offer {
    &__subscribe {
      margin-top: 0;
    }
  }
}

@media (min-width: 860px) and (orientation: portrait) {
  .offer {
    &__subscribe {
      margin-top: -20px;
    }
  }
}

@media (min-width: 940px) and (orientation: portrait) {
  .offer {
    &__subscribe {
      margin-top: -40px;
    }
  }
}

@media (min-width: 1024px) and (orientation: portrait) {
  .offer {
    padding-bottom: 104px;

    &__bg {
      width: 790px;

      background-position: 646px -148px;
      background-size: 790px auto;
    }

    &__content-wrapper {
      margin: 83px 0 0;
    }

    &__content {
      // width: 600px;

      & h3 {
        font-size: 22px;
      }

      & p {
        margin: 25px 0 0;
        font-size: 16px;
      }
    }

    &__subscribe {
      width: 390px;
      margin-top: -58px;

      & form {
        width: 389px;
        margin-top: 16px;
      }
    }
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  .offer {
    padding-bottom: 0;

    &__bg {
      width: 790px;

      background-position: 646px -148px;
      background-size: 790px auto;
    }

    &__wrapper {
      box-sizing: border-box;
      height: calc(100vh - 72px);
      padding-top: 13%;
    }

    &__content-wrapper {
      height: 50%;
      margin: auto 0 0;
      // margin: 83px 0 0;
    }

    &__logo {
      height: auto;
      width: 29%;

      & img {
        width: 100%;
        height: auto;
        // height: 199px;
      }
    }

    &__content {
      box-sizing: border-box;
      // width: 600px;
      width: 71%;
      height: auto;
      padding-right: 40px;

      & h3 {
        font-size: 22px;
      }

      & p {
        margin: 25px 0 0;
        font-size: 16px;
      }
    }

    &__subscribe {
      height: 50%;
      width: 390px;
      margin-top: 0;
      // margin-top: -58px;

      & form {
        width: 389px;
        margin-top: 16px;
      }
    }
  }
}

@media (min-width: 1070px) and (orientation: portrait) {
  .offer {
    &__content {
      padding-right: 15%;
    }
  }
}

@media (min-width: 1280px) {
  .offer {
    padding-bottom: 41px;

    &__bg {
      width: 984px;
      height: 1500px;

      background-position: 801px -182px;
      background-size: 984px auto;
    }

    &__wrapper {
      height: auto;
      // height: calc(100vh - 90px);
      padding-top: 0;
    }

    &__content-wrapper {
      padding: 109px 0 0;
    }

    &__logo {
      width: 28%;
      margin-right: 4px;

      // & img {
      //   height: 325px;
      // }
    }

    &__content {
      width: 72%;
      padding-right: 280px;

      & h3 {
        font-size: 29px;
      }

      & p {
        margin: 36px 0 0;
        // font-size: 16px;
        line-height: 21px;

        br {
          display: block;
          content: "";
          margin-top: 20px;
        }
      }
    }

    &__subscribe {
      width: 505px;
      margin-top: 47px;

      & p {
        margin: 0;
      }

      & form {
        width: 485px;
        margin-top: 19px;
      }
    }
  }
}

@media (min-width: 1300px) {
  .offer {
    &__subscribe {
      margin-top: 0;
    }
  }
}

@media (min-width: 1450px) {
  .offer {
    &__content {
      // width: 72%;
      padding-right: 320px;
    }

    &__subscribe {
      margin-top: -20px;
    }
  }
}

@media (min-width: 1550px) {
  .offer {
    &__content {
      // width: 72%;
      padding-right: 380px;
    }

    &__subscribe {
      margin-top: -60px;
    }
  }
}

@media (min-width: 1750px) {
  .offer {
    &__logo {
      // width: 28%;
    }

    &__content {
      // width: 72%;
      padding-right: 480px;
    }

    &__subscribe {
      // margin-top: -60px;
    }
  }
}

@media (min-width: 1920px) {
  .offer {
    // max-width: 1920px;
    // margin: 0 auto;
    padding-bottom: 170px;

    &__bg {
      width: 1610px;
      height: 1500px;

      background-position: 1315px -408px;
      background-size: 1610px auto;
    }

    &__content-wrapper {
      padding: 120px 0 0;
    }

    &__logo {
      margin-right: 0;

      & img {
        height: 485px;
      }
    }

    &__content {
      // width: 785px;

      & h3 {
        font-size: 44px;
      }

      & p {
        margin: 50px 0 0;
        font-size: 20px;
        line-height: 26px;

        br {
          // display: block;
          // content: "";
          margin-top: 30px;
        }
      }
    }

    &__subscribe {
      width: 730px;
      margin-top: -124px;

      & p {
        font-size: 18px;
      }

      & form {
        width: 730px;
        margin-top: 25px;
      }
    }
  }
}
