.social {
  display: flex;
  justify-content: space-between;
  margin: 0;
  list-style-type: none;
  // &__item {
  // }
}

@media (min-width: 450px) {
  .social {
    &__item {
      display: flex;
      justify-content: center;
      width: 120px;

      & svg {
        height: 27px;
      }
    }
  }
}

@media (min-width: 800px) {
  .social {
    &__item {
      & svg {
        height: 35px;
      }
    }
  }
}
