.sponsors {
  &__content-wrapper {
    margin-top: 114px;
    margin-bottom: 114px;
  }

  &__content {
    & h3 {
      margin: 0;

      font-family: "Info", "Arial", sans-serif;
      font-weight: 400;
      font-size: 12px;
      text-transform: uppercase;
      text-align: center;
    }
  }

  &__visualization-wrapper {
    margin-top: 36px;
  }

  &__visualization-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &__visualization-item {
    &:nth-child(n + 2) {
      margin-top: 67px;
    }
  }
}

@media (min-width: 600px) {
  .sponsors {
    &__content-wrapper {
      margin-top: 68px;
      margin-bottom: 108px;
    }

    &__visualization-wrapper {
      margin-top: 27px;
    }

    &__visualization-list {
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
    }

    &__visualization-item {
      width: 132px;
      height: 75px;

      & img {
        width: auto;
        max-height: 75px;
      }

      &:nth-child(n + 2) {
        margin-top: 0;
      }
    }
  }
}

@media (min-width: 1024px) {
  .sponsors {
    &__content-wrapper {
      margin-top: 101px;
      padding-bottom: 0;
      margin-bottom: 145px;
    }

    &__visualization-wrapper {
      margin-top: 38px;
    }

    &__visualization-item {
      width: 180px;
      height: 100px;

      & img {
        max-height: 100px;
      }
    }
  }
}

@media (min-width: 1280px) {
  .sponsors {
    &__content-wrapper {
      margin-top: 134px;
      margin-bottom: 181px;
    }

    &__content {
      & h3 {
        font-size: 15px;
      }
    }

    &__visualization-wrapper {
      margin-top: 49px;
    }

    &__visualization-item {
      width: 221px;
      height: 124px;

      & img {
        max-height: 124px;
      }
    }
  }
}

@media (min-width: 1920px) {
  .sponsors {
    &__content-wrapper {
      margin-top: 196px;
      // padding-bottom: 0;
      margin-bottom: 353px;
    }

    &__content {
      & h3 {
        font-size: 22px;
      }
    }

    &__visualization-wrapper {
      margin-top: 74px;
    }

    &__visualization-item {
      width: 320px;
      height: 180px;

      & img {
        max-height: 180px;
      }
    }
  }
}
