.team {
  &__content-wrapper {
    margin-top: 84px;
  }

  &__content {
    & h3 {
      margin: 0 0 15px;

      font-family: "Info", "Arial", sans-serif;
      font-weight: 400;
      font-size: 18px;
      text-transform: uppercase;
    }

    & b {
      font-family: "Info", "Arial", sans-serif;
      font-weight: 700;
      font-size: 18px;
      text-transform: uppercase;
    }
  }

  &__visualization-wrapper {
    padding-top: 55px;
  }

  &__visualization-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &__visualization-item {
    &:nth-child(n + 2) {
      margin-top: 75px;
    }

    & img {
      display: block;
    }

    & dl {
      margin: 17px 0 0;
      text-align: center;
    }

    & dt {
      font-family: "Info", "Arial", sans-serif;
      font-weight: 700;
      font-size: 18px;
    }

    & dd {
      margin: 7px 0 0;
    }
  }
}

@media (min-width: 768px) {
  .team {
    &__content-wrapper {
      padding-top: 70px;
    }

    &__content {
      text-align: center;

      & h3 {
        margin: 0 0 10px;

        font-size: 16px;
      }

      & b {
        font-size: 16px;
      }
    }

    &__visualization-wrapper {
      padding-top: 50px;
    }

    &__visualization-list {
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
      margin: 0;
      padding: 0;
      list-style-type: none;
    }

    &__visualization-item {
      width: 165px;

      &:nth-child(n + 2) {
        margin-top: 0;
      }

      & dl {
        margin: 10px 0 0;
      }

      & dt {
        font-size: 16px;
      }

      & dd {
        margin: 5px 0 0;
        font-size: 14px;
      }
    }
  }
}

@media (min-width: 900px) {
  .team {
    &__content-wrapper {
      padding-top: 100px;
    }

    &__content {
      & h3 {
        margin: 0 0 15px;

        font-size: 20px;
      }

      & b {
        font-size: 20px;
      }
    }

    &__visualization-wrapper {
      padding-top: 60px;
    }

    &__visualization-item {
      width: 200px;

      & dl {
        margin: 20px 0 0;
      }

      & dt {
        font-size: 21px;
      }

      & dd {
        margin: 10px 0 0;
        font-size: 16px;
      }
    }
  }
}

@media (min-width: 1100px) {
  .team {
    &__content-wrapper {
      padding-top: 150px;
    }

    &__content {
      & h3 {
        // margin: 0 0 15px;

        font-size: 25px;
      }

      & b {
        font-size: 25px;
      }
    }

    &__visualization-wrapper {
      padding-top: 75px;
    }

    &__visualization-item {
      width: 250px;

      & img {
        width: auto;
        height: 250px;
      }
    }
  }
}

@media (min-width: 1150px) {
  .team {
    &__visualization-item {
      width: 276px;

      & img {
        width: auto;
        height: 276px;
      }

      & dl {
        margin: 25px 0 0;
      }

      & dt {
        font-size: 25px;
      }

      & dd {
        font-size: 17px;
        line-height: 23px;
      }
    }
  }
}

@media (min-width: 1700px) {
  .team {
    &__content-wrapper {
      padding-top: 310px;
    }

    &__content {
      & h3 {
        margin: 0 0 20px;

        font-size: 38px;
        line-height: 47px;
      }

      & b {
        font-size: 38px;
        line-height: 47px;
      }
    }

    &__visualization-wrapper {
      padding-top: 110px;
    }

    &__visualization-item {
      width: 400px;

      & img {
        width: auto;
        height: 400px;
      }

      & dl {
        margin: 40px 0 0;
      }

      & dt {
        font-size: 40px;
        line-height: 50px;
      }

      & dd {
        margin: 15px 0 0;
        font-size: 26px;
        line-height: 34px;
      }
    }
  }
}
