.team {
  &__content-wrapper {
    padding-top: 100px;
  }

  &__content {
    & h3 {
      margin: 0 0 30px;

      font-family: "Info", "Arial", sans-serif;
      font-weight: 400;
      font-size: 18px;
      text-transform: uppercase;
    }

    & b {
      font-family: "Info", "Arial", sans-serif;
      font-weight: 700;
      font-size: 18px;
      text-transform: uppercase;
    }
  }

  &__visualization-wrapper {
    padding-top: 55px;
  }

  &__visualization-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &__visualization-item {
    &:nth-child(n + 2) {
      margin-top: 70px;
    }

    & dl {
      margin: 20px 0 0;
      text-align: center;
    }

    & dt {
      font-family: "Info", "Arial", sans-serif;
      font-weight: 700;
      font-size: 18px;
    }

    & dd {
      margin: 10px 0 0;
    }
  }
}
