.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;

  color: #474747;
  list-style-type: none;
}

.breadcrumbs__item {
  position: relative;
  margin-right: 34px;
}

.breadcrumbs__item::before {
  content: "";
  position: absolute;
  display: block;
  top: 52%;
  right: -22px;
  width: 12px;
  height: 1px;
  background-color: #000000;

  pointer-events: none;
}

.breadcrumbs__item::after {
  content: "";
  position: absolute;
  display: block;
  top: 36%;
  right: -22px;

  border: solid black;
  border-width: 0 1px 1px 0;
  padding: 3px;
  transform: rotate(-45deg);

  pointer-events: none;
}

.breadcrumbs__item--current::after,
.breadcrumbs__item--current::before {
  display: none;
}

.breadcrumbs__item--current {
  pointer-events: none;
}

.breadcrumbs__item a {
  color: #474747;
  letter-spacing: 0.9px;

  &:hover,
  &:active {
    color: #474747;
    opacity: 0.5;
  }
}
