.catalog__content-wrapper {
  display: flex;
  margin-top: 50px;
  margin-bottom: 60px;
}

.catalog__filters-column {
  width: 208px;
}

.catalog__filters-column h2 {
  margin: 0;
  padding-bottom: 30px;

  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.9px;

  border-bottom: 0.7px solid #dddada;
}

// .catalog__catalog-column {
//   width: 100%;
// }

.catalog__filters-form {
  margin-bottom: 30px;
}

.catalog__filters-form fieldset {
  margin: 0;
  padding: 0 0 28px 0;
  border: none;
  border-bottom: 0.7px solid #dddada;
}

.catalog__filters-form fieldset:last-of-type {
  border: none;
}

.catalog__filters-form h3 {
  margin: 30px 0 25px 0;

  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.6px;
}

.catalog__filters-form button {
  width: 120px;
  height: 30px;

  color: #ffffff;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;

  border: none;
  background-color: #c1c1c1;

  &:hover {
    background-color: #585757;
  }

  &:active {
    background-color: #9f9e9e;
  }
}

.catalog__filters-price-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.catalog__filters-price-wrapper input {
  box-sizing: border-box;
  width: 84px;
  height: 28px;
  margin: 0;
  padding: 0;

  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
  text-align: center;

  border: 0.7px solid #9f9e9e;
  border-radius: 2px;

  appearance: none;
}

.catalog__filters-price-wrapper::after {
  content: "";
  position: absolute;
  display: block;
  top: 44%;
  right: 50%;
  margin-right: -6px;
  width: 14px;
  height: 1px;
  background-color: #585757;
}

.catalog__filters-type-wrapper {
  display: flex;
  flex-direction: column;
}

.catalog__filters-type-content-wrapper,
.catalog__filters-amount-wrapper span {
  position: relative;
  margin-bottom: 15px;
  padding-top: 3px;
}

.catalog__filters-type-content-wrapper:last-of-type {
  margin-bottom: 4px;
}

.catalog__filters-type-content-wrapper label,
.catalog__filters-amount-wrapper span {
  padding-left: 41px;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.4px;

  cursor: pointer;
  user-select: none;
}

.catalog__filters-type-content-wrapper input + label::before,
.catalog__filters-amount-wrapper span::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;

  width: 22px;
  height: 22px;

  border: 0.7px solid #9f9e9e;
  border-radius: 2px;
}

.catalog__filters-type-content-wrapper input + label:hover::before,
.catalog__filters-amount-wrapper span:hover::before {
  border-color: #585757;
}

.catalog__filters-type-content-wrapper input + label:active::before,
.catalog__filters-amount-wrapper span:active::before {
  border-color: #c1c1c1;
}

.catalog__filters-type-content-wrapper input:checked + label::after,
.catalog__filters-amount-wrapper input:checked + span::after {
  content: "";

  position: absolute;
  top: 5px;
  left: 5px;

  width: 12px;
  height: 12px;

  background-image: url("../img/icon_check-mark-button.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.catalog__filters-amount-wrapper {
  display: flex;
  flex-direction: column;
}

.catalog__filters-amount-wrapper input:disabled + span::before {
  border: 0.7px solid #dddddd;
  background-color: #f6f3f3;
}

.catalog__filters-amount-wrapper input:disabled + span {
  color: #dddddd;

  pointer-events: none;
}

.catalog__filters-amount-wrapper span {
  position: relative;
  display: block;
}

.catalog__catalog-column {
  min-width: 699px;
  max-width: 699px;
  margin-left: 32px;
}

.catalog__sort {
  margin: 0;
  padding: 3px 0 0 0;
  letter-spacing: 1.1px;
}

.catalog__sort-wrapper {
  display: flex;
  justify-content: flex-start;
}

.catalog__sort-wrapper span {
  padding-top: 3px;
  letter-spacing: 1.3px;
}

.catalog__sort-buttons {
  position: relative;
  display: flex;
  margin-left: auto;
  max-height: 21px;
}

.catalog__list {
  display: flex;
  flex-wrap: wrap;
  margin: 29px 0 29px 0;
  padding: 0;

  list-style-type: none;
}

.catalog__button {
  position: relative;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 89px;
  height: 23px;

  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1.1px;
  border-radius: 2px;

  &--buy {
    padding-left: 20px;
    background-color: #e27f00;

    &::before {
      content: "";
      position: absolute;
      left: 10px;
      display: inline-block;
      width: 12px;
      height: 13px;
      background-image: url("../img/icon_cart.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-color: transparent;
    }

    &:hover {
      background-color: #ffa839;
    }

    &:active {
      background-color: #da8b26;
    }
  }

  &--info {
    background-color: #c1c1c1;

    &:hover {
      background-color: #585757;
    }

    &:active {
      background-color: #9f9e9e;
    }
  }
}

.catalog__pagination {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
