.container {
  width: auto;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: border-box;
}

@media (min-width: 340px) {
  .container {
    padding: 0 29px 0 15px;
  }
}

@media (min-width: 380px) {
  .container {
    padding: 0 29px 0 20px;
  }
}

@media (min-width: 414px) {
  .container {
    padding: 0 29px 0 30px;
  }
}
