// .links {

// }

.links__wrapper {
  box-sizing: border-box;
  // width: 140px;
  margin-right: 14px;
}

.links__wrapper:last-child {
  margin-right: 0;
  width: 140px;
  margin-left: auto;
}

.links__wrapper dt {
  margin-bottom: 11px;
  font-size: 14px;
  color: #ffffff;
  letter-spacing: 2px;
}

.links__wrapper:first-child dt {
  margin-bottom: 17px;
}

.links__wrapper:last-child dt {
  margin-bottom: 15px;
}

.links dd {
  margin: 0;
}

.links__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  &--about-us,
  &--kontakt {
    width: 145px;
    line-height: 12px;
    letter-spacing: 0.3px;
  }

  &--kontakt {
    width: 130px;
  }

  &--about-us .links__item:first-child,
  &--kontakt .links__item:first-child {
    margin-bottom: 12px;
  }

  &--catalog {
    width: 150px;
  }

  &--catalog .links__item,
  &--info .links__item {
    line-height: 18px;
  }

  &--catalog .links__item,
  &--info .links__item,
  &--kontakt .links__item {
    letter-spacing: 1.3px;
  }

  &--kontakt .links__item a {
    padding-left: 14px;
    letter-spacing: 1px;
  }

  &--kontakt .links__item a::before {
    content: "";

    position: absolute;
    display: block;
    top: 38px;
    left: 0;
    width: 10px;
    height: 10px;

    // background-color: aqua;
    background-image: url("../img/icon_phone.svg");
  }

  &--kontakt .links__item span::before {
    content: "";

    position: absolute;
    top: 11px;
    left: 0;
    width: 10px;
    height: 10px;

    // background-color: aqua;
    background-image: url("../img/icon_clock.svg");
  }
}

.links__item {
  position: relative;
}

.links__item a,
.links__item p,
.links__item span {
  margin: 0;
  color: #ffffff;
  font-size: 10px;
}

.links__item span {
  display: block;
  padding-left: 14px;
  margin-top: -1px;
}
