// .list {
//   margin: 0;
//   padding: 0;

//   list-style-type: none;
// }

.list__item {
  width: 220px;
  height: 304px;
  margin-right: 19px;
  margin-bottom: 30px;
  padding: 11px 13px 14px 13px;

  border: 1px solid #dddada;
  box-sizing: border-box;
}

.list__item img {
  display: block;
  margin: 0 auto;
  height: 202px;
  width: auto;
  // min-height: 190px;
}

.list__item:nth-child(3n + 3) {
  margin-right: 0;
}

.list__item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.list__rating {
  display: flex;
  margin-bottom: 5px;
}

.list__stars {
  width: 68px;
  height: 12px;

  &::before {
    width: 68px;
    background-size: 68px 12px;
  }
}

.list__stars span {
  width: 0%;

  &::before {
    width: 68px;
    background-size: 68px 12px;
  }
}

.list__descriotion-wrapper {
  display: flex;
  justify-content: space-between;
}

.list__descriotion-wrapper h3,
.list__descriotion-wrapper p {
  margin: 0 0 13px 0;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.9px;
}

.list__navigation-wrapper {
  display: flex;
  justify-content: space-between;
}
