.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

  width: 100%;
  height: 100%;
  overflow: auto;

  background-color: rgba(88, 87, 87, 0.6);

  &--add-to-basket-hidden {
    display: none;
  }

  &--sucsess-hidden {
    display: none;
  }

  &--delete-from-basket-hidden {
    display: none;
  }
}

.modal__popup {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 2;

  box-sizing: border-box;
  width: 740px;
  min-height: 185px;
  padding: 28px 50px;
  margin-left: -370px;
  margin-top: -115px;

  background-color: #ffffff;
  border-radius: 4px;
}

.modal__title {
  margin: 0 0 23px 0;

  color: #474747;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.8px;
}

.modal__content {
  position: relative;
  display: flex;
}

.modal__buttons-wrapper {
  display: flex;
  margin: 0 auto;

  &--basket {
    flex-direction: column;
    margin: 0;
    margin-left: auto;
  }
}

.modal__image-container {
  padding-left: 1px;
}

.modal__image-container img {
  display: block;
  width: auto;
  height: 135px;
  margin-top: -3px;
}

.modal__content-container {
  margin-left: 42px;
}

.modal__deckription-list {
  margin: 0;
  padding: 12px 0 0 0;
  list-style-type: none;
}

.modal__name {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}

.modal__identifer-number {
  margin-top: 10px;

  font-size: 14px;
  letter-spacing: 1.1px;
}

.modal__type {
  margin-top: 5px;

  font-size: 14px;
  letter-spacing: 1.1px;
}

.modal__price {
  display: flex;
  align-items: center;

  margin-top: 17px;

  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1.3px;
}

.modal__button {
  width: 220px;
  height: 46px;
  margin-top: 13px;
  margin-left: auto;

  color: #ffffff;
  font-weight: 700;
  letter-spacing: 1.2px;

  background-color: #e27f00;
  border-radius: 2px;
  border: none;

  cursor: pointer;


  &:hover {
    background-color: #ffa839;
  }

  &:active {
    background-color: #da8b26;
  }

  &--to-basket {
    margin-left: 0;
  }

  &--to-shoping {
    margin-left: 37px;

    color: #585757;
    border: 1px solid #585757;
    background-color: transparent;

    &:hover {
      color: #ffffff;
      background-color: #585757;
    }

    &:active {
      color: #ffffff;
      background-color: #9f9e9e;
    }
  }
}

.modal__close {
  position: absolute;
  top: -48px;
  right: -27px;

  width: 12px;
  height: 12px;

  border: 0;
  background-color: transparent;

  cursor: pointer;

  // &:hover::before,
  // &:hover::after {
  //   background-color: #d12136;
  // }

  // &:active::before,
  // &:active::after {
  //   background-color: #bd0c21;
  // }

  &::before,
  &::after {
    content: "";

    position: absolute;
    top: 6px;
    left: -2px;

    width: 16px;
    height: 1px;

    background-color: #9f9e9e;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}
