.newsletter {
  &__content h3 {
    margin: 0;

    font-family: "Info", "Arial", sans-serif;
    font-weight: 700;
    font-size: 18px;
  }
  // &__content-wrapper {
  // }
  // &__subscribe {
  // }
}
