.page-footer {
  position: relative;
  padding-top: 80px;
}

.page-footer__image-wrapper {
  position: absolute;
  width: 1020px;
  top: -5px;
  z-index: -1;
  // display: flex;
  // justify-content: flex-end;
}

.page-footer__image-wrapper img {
  margin-left: -40px;
}


.page-footer::before {
  content: "";

  position: absolute;
  top: 64px;
  right: 0;

  width: 100%;
  height: 6px;

  background-color: #3f3f3f;
}

.page-footer__content-wrapper {
  background-color: #3f3f3f;
}

.page-footer__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 60px 0;
}

.page-footer__column {
  width: 118px;
}

.page-footer__logo svg {
  fill: #ffffff;
  stroke: #ffffff;
  stroke-width: 0.4px;
}

.page-footer__social {
  display: flex;
  justify-content: space-between;
  margin: 53px 0 0 0;
  padding: 0;
  list-style-type: none;
}

.page-footer__links {
  display: flex;
  width: 700px;
  margin: 20px 0 0 0;
}
