// .product {
//   margin-top: 30px;
// }

.product__list {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.product__item {
  position: relative;
  display: flex;
  // justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 14px;

  border-top: 0.7px solid #dddada;
}

.product__item:last-child {
  display: flex;

  border-bottom: 0.7px solid #dddada;
}

.product__image-container {
  padding-left: 42px;
}

.product__image-container img {
  display: block;
  width: auto;
  height: 132px;
  margin-top: -3px;
}

.product__deckription-list {
  margin: 0 0 0 66px;
  padding: 0;
  list-style-type: none;
}

.product__name {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}

.product__identifer-number {
  margin-top: 10px;

  font-size: 14px;
  letter-spacing: 1.1px;
}

.product__type {
  margin-top: 5px;

  font-size: 14px;
  letter-spacing: 1.1px;
}

.product__price {
  display: flex;
  align-items: center;
  margin-left: 94px;

  font-size: 20px;
  letter-spacing: 1.3px;
}

.product__quantity {
  display: flex;
  margin-left: 84px;
  padding-top: 20px;
  font-size: 0;
}

.product__quantity input {
  display: block;
  box-sizing: border-box;
  width: 26px;
  height: 30px;

  font-size: 14px;
  text-align: center;

  border-top: 1px solid #9f9e9e;
  border-bottom: 1px solid #9f9e9e;
  border-left: none;
  border-right: none;
  border-radius: 0;

  appearance: none;
}

.product__quantity-button {
  box-sizing: border-box;
  display: inline-block;
  width: 28px;
  height: 30px;

  font-size: 14px;
  text-align: center;

  border: 1px solid #9f9e9e;
  border-radius: 0;
  background-color: transparent;
  cursor: pointer;
}

.product__price-total {
  display: flex;
  align-items: center;
  margin-left: auto;

  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1.3px;
}

.product__delete {
  position: absolute;
  top: 22px;
  left: 4px;

  width: 12px;
  height: 12px;

  border: 0;
  background-color: transparent;

  cursor: pointer;

  // &:hover::before,
  // &:hover::after {
  //   background-color: #d12136;
  // }

  // &:active::before,
  // &:active::after {
  //   background-color: #bd0c21;
  // }

  &::before,
  &::after {
    content: "";

    position: absolute;
    top: 6px;
    left: -2px;

    width: 16px;
    height: 1px;

    background-color: #9f9e9e;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}
