.site-list {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  // margin: 0;
  padding: 0;

  list-style-type: none;
  // background-color: rgba(30, 9, 6, 0.5);
}

.site-list__item {
  margin-right: 40px;

  &--active a {
    pointer-events: none;
  }
}

.site-list__item a {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 1px;
  color: #000000;

  &:hover {
    color: #474747;
  }

  &:active {
    color: #474747;
    opacity: 0.5;
  }
}
