.subscribe {
  & p {
    margin: 0;
  }
  // &__message {
  //   &--error {
  //   }
  //   &--success {
  //   }
  // }
}

.subscribe button {
  font-family: "Info", "Arial", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #ff5f0e;
  border: none;
}

.subscribe input {
  border: 1px solid #707070;
  border-radius: 0;
}
