.team {
  // &__content {
  // }

  &__content h3 {
    margin: 0;

    font-family: "Info", "Arial", sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
  }

  &__content b {
    font-family: "Info", "Arial", sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
  }
  // &__content-wrapper {
  // }

  &__visualization-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  // &__visualization-item {
  // }

  &__visualization-item dl {
    margin: 0;
  }

  &__visualization-item dt {
    font-family: "Info", "Arial", sans-serif;
    font-weight: 700;
    font-size: 18px;
  }

  &__visualization-item dd {
    margin: 0;
  }
  // &__visualization-wrapper {
  // }
}
