.user-list {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  width: 131px; //
  margin-left: auto;
  padding: 0 10px 0 0;

  list-style-type: none;
  // background-color: rgba(30, 9, 6, 0.5);
}

.user-list__item {
  display: flex;

  &--basket span {
    margin-top: -5px;
    margin-left: 2px;
  }

  &--basket span::after {
    content: attr(data-title);
    display: inline-block;
    top: 10px;

    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    color: #f20505;
  }

  & svg {
    // fill: #000000;

    &:hover {
      fill: #474747;
    }

    &:active {
      fill: #474747;
      opacity: 0.5;
    }
  }

  &--location svg {
    fill: none;
    stroke: #000000;
  }

  &--location svg:hover {
    fill: none;
    stroke: #474747;
  }

  &--location svg:active {
    fill: none;
    stroke: #474747;
    opacity: 0.5;
  }
}
