/* Vars:
  ========================================================================== */
/*
  All colors taken from:
  https://github.com/vedees/uimini
*/
/* Mixins:
  ========================================================================== */
/* Fonts Helpers:
   Read more: https://github.com/vedees/webpack-template/blob/master/README.md#add-fonts
   ========================================================================== */
/*
  By default template support only modern format fonts
  Without svg. Only: .woff, .woffs
  if ypu need svg comments lines bellow and uncomments "Fonts helper all format fonts"

  Usage:
    1. Put your font to `src/assets/fonts/FOLDERNAME/FONTNAME`
      FOLLOW: Files Required
      Example: .woff, .woffs formats
    2. Go to fonts.scss
    3. Use mixon
      Example: @include font-face("OpenSans", "../fonts/OpenSans/opensans");

    Required parameters: @family, @family
    Minor parameters: @weight, @style, @pipeline

    Example Base:
      @include font-face("OpenSans", "../fonts/OpenSans/opensans");
    Example Situation:
      @include font-face("OpenSans", "../fonts/OpenSans/opensansItalic", 400, italic);
*/
/* Mixins:
  ========================================================================== */
/* Fonts Helpers:
   Read more: https://github.com/vedees/webpack-template/blob/master/README.md#add-fonts
   ========================================================================== */
/*
  By default template support only modern format fonts
  Without svg. Only: .woff, .woffs
  if ypu need svg comments lines bellow and uncomments "Fonts helper all format fonts"

  Usage:
    1. Put your font to `src/assets/fonts/FOLDERNAME/FONTNAME`
      FOLLOW: Files Required
      Example: .woff, .woffs formats
    2. Go to fonts.scss
    3. Use mixon
      Example: @include font-face("OpenSans", "../fonts/OpenSans/opensans");

    Required parameters: @family, @family
    Minor parameters: @weight, @style, @pipeline

    Example Base:
      @include font-face("OpenSans", "../fonts/OpenSans/opensans");
    Example Situation:
      @include font-face("OpenSans", "../fonts/OpenSans/opensansItalic", 400, italic);
*/
@font-face {
  font-family: "Roboto";
  font-weight: 300;
  font-style: normal;
  src: url(../fonts/roboto-lite-latin.woff) format("woff"), url(../fonts/roboto-lite-latin.woff2) format("woff2"); }

@font-face {
  font-family: "Info";
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/info-normal.woff) format("woff"), url(../fonts/info-normal.woff2) format("woff2"); }

@font-face {
  font-family: "Info";
  font-weight: 700;
  font-style: normal;
  src: url(../fonts/info-bold.woff) format("woff"), url(../fonts/info-bold.woff2) format("woff2"); }

body {
  min-width: 320px;
  margin: 0 auto;
  padding: 0;
  font-size: 16px;
  font-weight: 300;
  font-family: "Roboto", "Arial", sans-serif;
  line-height: 22px;
  color: #000000;
  background-color: #ffffff; }

a {
  text-decoration: none; }

img {
  max-width: 100%;
  height: auto; }

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.concept__content-wrapper {
  margin-top: 120px; }

.concept__content h3 {
  margin: 0;
  font-family: "Info", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase; }

.concept__content p {
  margin: 30px 0 0;
  line-height: 21px; }

@media (min-width: 768px) {
  .concept__content-wrapper {
    margin-top: 70px; }
  .concept__content h3 {
    font-size: 16px; }
  .concept__content p {
    margin: 14px 0 0;
    font-size: 14px;
    line-height: 26px; } }

@media (min-width: 1024px) {
  .concept__content-wrapper {
    margin-top: 97px; }
  .concept__content h3 {
    font-size: 20px; }
  .concept__content p {
    margin: 23px 0 0;
    font-size: 16px; } }

@media (min-width: 1280px) {
  .concept__content-wrapper {
    margin-top: 152px; }
  .concept__content h3 {
    font-size: 25px; }
  .concept__content p {
    margin: 33px 0 0;
    line-height: 21px; } }

@media (min-width: 1920px) {
  .concept__content-wrapper {
    padding-top: 310px; }
  .concept__content {
    width: auto; }
    .concept__content h3 {
      font-size: 38px; }
  .concept__content p {
    margin: 45px 0 0;
    font-size: 20px;
    line-height: 26px; } }

.container {
  width: auto;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: border-box; }

@media (min-width: 350px) {
  .container {
    padding: 0 15px 0 15px; } }

@media (min-width: 380px) {
  .container {
    padding: 0 20px 0 20px; } }

@media (min-width: 414px) {
  .container {
    padding: 0 29px 0 30px; } }

@media (min-width: 768px) {
  .container {
    padding: 0 50px 0 50px; } }

@media (min-width: 1024px) {
  .container {
    padding: 0 60px 0 60px; } }

@media (min-width: 1280px) {
  .container {
    padding: 0 80px 0 80px; } }

@media (min-width: 1600px) {
  .container {
    max-width: 1920px;
    padding: 0 150px 0 150px; } }

.logo img {
  display: block; }

.main-nav__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  height: 72px;
  padding-top: 10px;
  padding-bottom: 10px; }

.main-nav__logo {
  display: block;
  width: auto;
  height: 100%; }
  .main-nav__logo img {
    width: auto;
    height: 100%; }

@media (min-width: 1280px) {
  .main-nav__wrapper {
    height: 90px;
    padding-top: 14px;
    padding-bottom: 14px; } }

@media (min-width: 1920px) {
  .main-nav__wrapper {
    height: 100px;
    padding-top: 16px;
    padding-bottom: 16px; } }

.method__content-wrapper {
  margin-top: 100px; }

.method__content h3 {
  margin: 0;
  font-family: "Info", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  text-transform: uppercase; }

.method__content p {
  margin: 35px 0 0;
  line-height: 21px; }

.method__visualization-wrapper {
  margin-top: 60px; }

.method__visualization-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none; }

.method__visualization-item {
  width: 31.3%; }
  .method__visualization-item:nth-child(-n + 3) {
    margin-bottom: 35px; }
  .method__visualization-item:nth-child(3n) {
    margin-right: 0; }
  .method__visualization-item img {
    display: block;
    margin: 0 auto; }

@media (min-width: 768px) {
  .method__content-wrapper {
    margin-top: 45px; }
  .method__content {
    width: 100%; }
    .method__content h3 {
      font-size: 16px; }
    .method__content p {
      margin: 13px 0 0;
      font-size: 14px;
      line-height: 26px; }
  .method__visualization-wrapper {
    margin-top: 35px; }
  .method__visualization-item {
    width: 16.6%; }
    .method__visualization-item:nth-child(-n + 3) {
      margin-bottom: 0; } }

@media (min-width: 1024px) {
  .method__content h3 {
    font-size: 20px; }
  .method__content p {
    margin: 26px 0 0;
    font-size: 16px; }
  .method__visualization-wrapper {
    margin-top: 50px; }
  .method__visualization-item img {
    width: auto;
    height: 109px; } }

@media (min-width: 1280px) {
  .method__content-wrapper {
    margin-top: 111px; }
  .method__content h3 {
    font-size: 25px; }
  .method__content p {
    margin: 33px 0 0;
    line-height: 21px; }
  .method__visualization-wrapper {
    margin-top: 100px; }
  .method__visualization-item img {
    height: 131px; } }

@media (min-width: 1920px) {
  .method__content-wrapper {
    padding-top: 120px; }
  .method__content h3 {
    font-size: 38px; }
  .method__content p {
    margin: 45px 0 0;
    font-size: 20px;
    line-height: 26px; }
  .method__visualization-wrapper {
    padding-top: 65px; }
  .method__visualization-item img {
    height: 198px; } }

.newsletter {
  position: relative;
  overflow: hidden;
  border: 1px solid #b1afaf; }
  .newsletter__bg {
    position: absolute;
    top: calc(100% - 470px);
    right: 0;
    z-index: -1;
    width: 320px;
    height: 500px;
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0.1) 90%, white), url(../img/bg-tuerkis@1x.png);
    background-position: 43px 0;
    background-size: 320px auto;
    background-repeat: no-repeat; }
  .newsletter__content-wrapper {
    padding: 47px 0 39px; }
  .newsletter__content h3 {
    margin: 0;
    font-family: "Info", "Arial", sans-serif;
    font-weight: 700;
    font-size: 18px; }
  .newsletter__subscribe {
    margin-top: 18px; }
    .newsletter__subscribe form {
      margin-top: 39px; }

@media (min-width: 500px) {
  .newsletter__subscribe {
    width: 440px; } }

@media (min-width: 600px) {
  .newsletter__bg {
    top: calc(100% - 797px);
    width: 550px;
    height: 1000px;
    background-position: 60px 0;
    background-size: 550px auto; } }

@media (min-width: 768px) {
  .newsletter__content-wrapper {
    padding: 32px 0 32px; }
  .newsletter__content h3 {
    font-size: 16px; }
  .newsletter__subscribe {
    margin-top: 12px; }
    .newsletter__subscribe p {
      width: 330px;
      font-size: 14px;
      line-height: 19px; }
    .newsletter__subscribe form {
      margin-top: 18px;
      width: 424px; } }

@media (min-width: 1024px) {
  .newsletter__bg {
    top: calc(100% - 1029px);
    width: 710px;
    height: 1200px;
    background-position: 64px 0;
    background-size: 710px auto; }
  .newsletter__content-wrapper {
    padding: 48px 0 52px; }
  .newsletter__content h3 {
    font-size: 19px; }
  .newsletter__subscribe {
    width: 390px;
    margin-top: 19px; }
  .newsletter p {
    margin: 0;
    width: 435px; }
  .newsletter form {
    margin-top: 48px; } }

@media (min-width: 1280px) {
  .newsletter__bg {
    top: calc(100% - 1306px);
    width: 900px;
    height: 1500px;
    background-position: 87px 0;
    background-size: 900px auto; }
  .newsletter__content-wrapper {
    padding: 66px 0 115px; }
  .newsletter__content h3 {
    font-size: 25px; }
  .newsletter__subscribe {
    width: 500px;
    margin-top: 25px; }
    .newsletter__subscribe p {
      font-size: 20px;
      line-height: 24px;
      width: auto; }
    .newsletter__subscribe form {
      width: 485px;
      margin-top: 11px; } }

@media (min-width: 1920px) {
  .newsletter__bg {
    top: calc(100% - 1970px);
    width: 1350px;
    height: 2500px;
    background-position: 140px 0;
    background-size: 1350px auto; }
  .newsletter__content {
    padding: 90px 0 180px; }
    .newsletter__content h3 {
      font-size: 38px;
      line-height: 38px; }
  .newsletter__subscribe {
    width: 730px;
    padding-top: 30px; }
  .newsletter p {
    line-height: 26px;
    padding-bottom: 56px;
    width: 810px; } }

.offer__content-wrapper {
  margin: 20px 0 0; }

.offer__logo img {
  display: block;
  margin: 0 auto; }

.offer__content {
  margin-top: 45px; }
  .offer__content h3 {
    margin: 0;
    font-family: "Info", "Arial", sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center; }
  .offer__content p {
    margin: 30px 0 0; }

.offer__subscribe {
  margin-top: 40px; }
  .offer__subscribe > p {
    font-size: 14px;
    line-height: 26px; }

@media (min-width: 375px) and (orientation: portrait) {
  .offer {
    position: relative;
    overflow: hidden; }
    .offer__bg {
      position: absolute;
      top: 0;
      right: 0;
      z-index: -1;
      width: 347px;
      height: 1000px;
      background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(../img/bg-graublau@1x.png);
      background-position: 305px 0;
      background-size: 347px auto;
      background-repeat: no-repeat; }
    .offer__wrapper {
      display: flex;
      flex-direction: column;
      height: calc(100vh - 72px); }
    .offer__content-wrapper {
      display: flex;
      flex-direction: column;
      height: 70%; }
    .offer__logo {
      height: 40%; }
      .offer__logo img {
        display: block;
        margin: 0 auto;
        height: 100%;
        width: auto; }
    .offer__content {
      display: flex;
      flex-direction: column;
      height: 60%; }
      .offer__content h3 {
        margin-top: auto; }
      .offer__content p {
        margin-top: 28px; }
    .offer__subscribe {
      display: flex;
      flex-direction: column;
      height: 30%;
      width: 100%;
      margin-top: auto;
      margin-bottom: 2%; }
      .offer__subscribe p {
        margin-top: auto;
        margin-bottom: 0; }
      .offer__subscribe form {
        margin-top: 15px; } }

@media (min-width: 500px) and (orientation: portrait) {
  .offer__logo {
    height: 50%; }
  .offer__content {
    height: 50%;
    margin-left: auto;
    margin-right: auto; }
    .offer__content p br {
      display: block;
      content: ""; }
  .offer__subscribe {
    width: 440px;
    margin-left: auto;
    margin-right: auto; } }

@media (min-width: 768px) and (orientation: portrait) {
  .offer {
    padding-bottom: 19px; }
    .offer__bg {
      top: 0;
      right: 0;
      width: 650px;
      height: 1000px;
      background-position: 530px -105px;
      background-size: 650px auto; }
    .offer__wrapper {
      height: auto; }
    .offer__content-wrapper {
      flex-direction: row;
      height: 50%;
      margin: 60px 0 0; }
    .offer__logo {
      order: 2;
      height: auto;
      width: 29%;
      margin-left: auto;
      margin-right: -5px; }
      .offer__logo img {
        width: 100%;
        height: auto; }
    .offer__content {
      box-sizing: border-box;
      order: 1;
      width: 71%;
      height: auto;
      margin-top: 0;
      margin-left: 0;
      margin-right: 0;
      padding-right: 7%; }
      .offer__content h3 {
        margin-top: 0;
        font-size: 18px;
        text-align: left; }
      .offer__content p {
        margin: 15px 0 0;
        font-size: 14px;
        line-height: 26px; }
        .offer__content p br {
          margin-top: 0; }
    .offer__subscribe {
      width: 440px;
      height: 50%;
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 0;
      margin-top: 37px; }
      .offer__subscribe p {
        font-size: 14px;
        line-height: 26px; }
      .offer__subscribe form {
        width: 424px;
        margin-top: 31px; } }

@media (min-width: 768px) and (orientation: landscape) {
  .offer {
    position: relative;
    overflow: hidden;
    padding-bottom: 19px; }
    .offer__bg {
      position: absolute;
      top: 0;
      right: 0;
      z-index: -1;
      width: 650px;
      height: 1000px;
      background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(../img/bg-graublau@1x.png);
      background-position: 530px -105px;
      background-size: 650px auto;
      background-repeat: no-repeat; }
    .offer__wrapper {
      height: auto; }
    .offer__content-wrapper {
      display: flex;
      flex-direction: row;
      height: 50%;
      margin: 60px 0 0; }
    .offer__logo {
      order: 2;
      margin-left: auto;
      margin-right: -5px; }
      .offer__logo img {
        width: auto;
        height: 199px; }
    .offer__content {
      order: 1;
      width: 440px;
      margin-top: 0;
      margin-left: 0;
      margin-right: 0; }
      .offer__content h3 {
        font-size: 18px;
        text-align: left; }
      .offer__content p {
        margin: 15px 0 0;
        font-size: 14px;
        line-height: 26px; }
        .offer__content p br {
          margin-top: 0; }
    .offer__subscribe {
      width: 440px;
      height: 50%;
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 0;
      margin-top: 37px; }
      .offer__subscribe p {
        font-size: 14px;
        line-height: 26px; }
      .offer__subscribe form {
        width: 424px;
        margin-top: 31px; } }

@media (min-width: 830px) and (orientation: portrait) {
  .offer__subscribe {
    margin-top: 0; } }

@media (min-width: 860px) and (orientation: portrait) {
  .offer__subscribe {
    margin-top: -20px; } }

@media (min-width: 940px) and (orientation: portrait) {
  .offer__subscribe {
    margin-top: -40px; } }

@media (min-width: 1024px) and (orientation: portrait) {
  .offer {
    padding-bottom: 104px; }
    .offer__bg {
      width: 790px;
      background-position: 646px -148px;
      background-size: 790px auto; }
    .offer__content-wrapper {
      margin: 83px 0 0; }
    .offer__content h3 {
      font-size: 22px; }
    .offer__content p {
      margin: 25px 0 0;
      font-size: 16px; }
    .offer__subscribe {
      width: 390px;
      margin-top: -58px; }
      .offer__subscribe form {
        width: 389px;
        margin-top: 16px; } }

@media (min-width: 1024px) and (orientation: landscape) {
  .offer {
    padding-bottom: 0; }
    .offer__bg {
      width: 790px;
      background-position: 646px -148px;
      background-size: 790px auto; }
    .offer__wrapper {
      box-sizing: border-box;
      height: calc(100vh - 72px);
      padding-top: 13%; }
    .offer__content-wrapper {
      height: 50%;
      margin: auto 0 0; }
    .offer__logo {
      height: auto;
      width: 29%; }
      .offer__logo img {
        width: 100%;
        height: auto; }
    .offer__content {
      box-sizing: border-box;
      width: 71%;
      height: auto;
      padding-right: 40px; }
      .offer__content h3 {
        font-size: 22px; }
      .offer__content p {
        margin: 25px 0 0;
        font-size: 16px; }
    .offer__subscribe {
      height: 50%;
      width: 390px;
      margin-top: 0; }
      .offer__subscribe form {
        width: 389px;
        margin-top: 16px; } }

@media (min-width: 1070px) and (orientation: portrait) {
  .offer__content {
    padding-right: 15%; } }

@media (min-width: 1280px) {
  .offer {
    padding-bottom: 41px; }
    .offer__bg {
      width: 984px;
      height: 1500px;
      background-position: 801px -182px;
      background-size: 984px auto; }
    .offer__wrapper {
      height: auto;
      padding-top: 0; }
    .offer__content-wrapper {
      padding: 109px 0 0; }
    .offer__logo {
      width: 28%;
      margin-right: 4px; }
    .offer__content {
      width: 72%;
      padding-right: 280px; }
      .offer__content h3 {
        font-size: 29px; }
      .offer__content p {
        margin: 36px 0 0;
        line-height: 21px; }
        .offer__content p br {
          display: block;
          content: "";
          margin-top: 20px; }
    .offer__subscribe {
      width: 505px;
      margin-top: 47px; }
      .offer__subscribe p {
        margin: 0; }
      .offer__subscribe form {
        width: 485px;
        margin-top: 19px; } }

@media (min-width: 1300px) {
  .offer__subscribe {
    margin-top: 0; } }

@media (min-width: 1450px) {
  .offer__content {
    padding-right: 320px; }
  .offer__subscribe {
    margin-top: -20px; } }

@media (min-width: 1550px) {
  .offer__content {
    padding-right: 380px; }
  .offer__subscribe {
    margin-top: -60px; } }

@media (min-width: 1750px) {
  .offer__content {
    padding-right: 480px; } }

@media (min-width: 1920px) {
  .offer {
    padding-bottom: 170px; }
    .offer__bg {
      width: 1610px;
      height: 1500px;
      background-position: 1315px -408px;
      background-size: 1610px auto; }
    .offer__content-wrapper {
      padding: 120px 0 0; }
    .offer__logo {
      margin-right: 0; }
      .offer__logo img {
        height: 485px; }
    .offer__content h3 {
      font-size: 44px; }
    .offer__content p {
      margin: 50px 0 0;
      font-size: 20px;
      line-height: 26px; }
      .offer__content p br {
        margin-top: 30px; }
    .offer__subscribe {
      width: 730px;
      margin-top: -124px; }
      .offer__subscribe p {
        font-size: 18px; }
      .offer__subscribe form {
        width: 730px;
        margin-top: 25px; } }

.page-footer {
  background-color: #f7f7f7; }
  .page-footer__content-wrapper {
    padding: 40px 0; }
  .page-footer__logo img {
    display: block;
    margin: 0 auto; }
  .page-footer__info-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 0 0;
    padding: 0;
    list-style-type: none; }
  .page-footer__info-item:nth-child(n + 2) {
    margin-top: 60px; }
  .page-footer__info-item a {
    font-family: "Info", "Arial", sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
    color: #000000; }
  .page-footer__social {
    margin: 111px 0 0; }

@media (min-width: 768px) {
  .page-footer__content-wrapper {
    padding: 20px 0; }
  .page-footer__logo img {
    width: 41px; }
  .page-footer__info-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0 0; }
  .page-footer__info-item {
    width: 120px;
    text-align: center; }
    .page-footer__info-item:nth-child(n + 2) {
      margin-top: 0; }
    .page-footer__info-item:first-child {
      margin-right: auto; }
    .page-footer__info-item:last-child {
      margin-left: auto; }
    .page-footer__info-item a {
      font-size: 14px; }
  .page-footer__social {
    margin: 40px 0 0; } }

@media (min-width: 1024px) {
  .page-footer__content-wrapper {
    padding: 35px 0; }
  .page-footer__logo img {
    width: 43px; }
  .page-footer__info-list {
    margin: 32px 0 0; }
  .page-footer__info-item a {
    font-size: 11px; }
  .page-footer__social {
    margin: 57px 0 0; } }

@media (min-width: 1280px) {
  .page-footer__content-wrapper {
    padding: 45px 0; }
  .page-footer__logo img {
    width: 55px; }
  .page-footer__info-list {
    margin: 43px 0 0; }
  .page-footer__info-item a {
    font-size: 14px; }
  .page-footer__social {
    margin: 73px 0 0; } }

@media (min-width: 1920px) {
  .page-footer__content-wrapper {
    padding: 60px 0; }
  .page-footer__logo img {
    width: 80px; }
  .page-footer__info-list {
    margin: 75px 0 0; }
  .page-footer__info-item {
    width: 185px; }
    .page-footer__info-item a {
      font-size: 22px; }
  .page-footer__social {
    padding: 110px 0 0; } }

.page-header {
  position: sticky;
  top: 0;
  z-index: 1;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 6px 3px -3px #00000017; }

.site-list {
  margin: 0;
  padding: 0;
  list-style-type: none; }
  .site-list__item a {
    font-family: "Info", "Arial", sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: #000000; }
    .site-list__item a:hover {
      color: #ff5f0e;
      transition: all 400ms ease; }
    .site-list__item a:active {
      color: #7c7c7c; }

@media (min-width: 1280px) {
  .site-list__item a {
    font-size: 18px; } }

@media (min-width: 1700px) {
  .site-list__item a {
    font-size: 22px; } }

.social {
  display: flex;
  justify-content: space-between;
  padding: 0;
  list-style-type: none; }

@media (min-width: 768px) {
  .social__item {
    display: flex;
    justify-content: center;
    width: 120px; }
    .social__item svg {
      height: 27px; } }

@media (min-width: 1024px) {
  .social__item svg {
    height: 35px; } }

@media (min-width: 1280px) {
  .social__item svg {
    height: 43px; } }

@media (min-width: 1920px) {
  .social__item {
    width: 185px; }
    .social__item svg {
      height: 65px; } }

.sponsors__content-wrapper {
  margin-top: 114px;
  margin-bottom: 114px; }

.sponsors__content h3 {
  margin: 0;
  font-family: "Info", "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center; }

.sponsors__visualization-wrapper {
  margin-top: 36px; }

.sponsors__visualization-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none; }

.sponsors__visualization-item:nth-child(n + 2) {
  margin-top: 67px; }

@media (min-width: 600px) {
  .sponsors__content-wrapper {
    margin-top: 68px;
    margin-bottom: 108px; }
  .sponsors__visualization-wrapper {
    margin-top: 27px; }
  .sponsors__visualization-list {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between; }
  .sponsors__visualization-item {
    width: 132px;
    height: 75px; }
    .sponsors__visualization-item img {
      width: auto;
      max-height: 75px; }
    .sponsors__visualization-item:nth-child(n + 2) {
      margin-top: 0; } }

@media (min-width: 1024px) {
  .sponsors__content-wrapper {
    margin-top: 101px;
    padding-bottom: 0;
    margin-bottom: 145px; }
  .sponsors__visualization-wrapper {
    margin-top: 38px; }
  .sponsors__visualization-item {
    width: 180px;
    height: 100px; }
    .sponsors__visualization-item img {
      max-height: 100px; } }

@media (min-width: 1280px) {
  .sponsors__content-wrapper {
    margin-top: 134px;
    margin-bottom: 181px; }
  .sponsors__content h3 {
    font-size: 15px; }
  .sponsors__visualization-wrapper {
    margin-top: 49px; }
  .sponsors__visualization-item {
    width: 221px;
    height: 124px; }
    .sponsors__visualization-item img {
      max-height: 124px; } }

@media (min-width: 1920px) {
  .sponsors__content-wrapper {
    padding-top: 200px;
    margin-bottom: 350px; }
  .sponsors__content h3 {
    font-size: 22px; }
  .sponsors__visualization-wrapper {
    padding-top: 70px; }
  .sponsors__visualization-item {
    width: 265px;
    height: 180px; }
    .sponsors__visualization-item img {
      max-height: 180px; } }

.subscribe__message {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  margin-top: 30px;
  padding: 0 10px;
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
  line-height: 18px; }
  .subscribe__message--error {
    background-color: #ac1313; }
  .subscribe__message--success {
    background-color: #42c022; }
  .subscribe__message--hidden {
    display: none; }

.subscribe__fields-wrapper {
  display: flex;
  justify-content: space-between;
  height: 48px; }
  .subscribe__fields-wrapper button {
    min-width: 110px;
    height: 100%;
    font-family: "Info", "Arial", sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #ff5f0e;
    border: none;
    border-radius: 5px;
    cursor: pointer; }
    .subscribe__fields-wrapper button:hover {
      background-color: #42c022;
      transition: all 400ms ease; }
  .subscribe__fields-wrapper input {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin-right: 10px;
    padding: 8px 12px 8px 40px;
    font-size: 14px;
    background-image: url(../img/icon-mail.png);
    background-position: 10px 53%;
    background-size: 25px;
    background-repeat: no-repeat;
    border: 1px solid #707070;
    border-radius: 5px; }

@media (min-width: 450px) {
  .subscribe__message {
    width: 354px;
    margin-top: 20px; } }

@media (min-width: 768px) {
  .subscribe button {
    min-width: 150px; } }

@media (min-width: 1024px) {
  .subscribe__fields-wrapper {
    height: 31px; }
  .subscribe button {
    min-width: 119px;
    font-size: 10px; } }

@media (min-width: 1280px) {
  .subscribe__fields-wrapper {
    height: 38px; }
    .subscribe__fields-wrapper button {
      min-width: 150px; }
    .subscribe__fields-wrapper input {
      margin-right: 5px; } }

@media (min-width: 1920px) {
  .subscribe__fields-wrapper {
    height: 57px; }
    .subscribe__fields-wrapper button {
      min-width: 225px;
      font-size: 22px; }
    .subscribe__fields-wrapper input {
      margin-right: 10px;
      padding: 8px 12px 8px 50px;
      background-position: 16px 57%;
      background-size: 32px; } }

.team__content-wrapper {
  margin-top: 84px; }

.team__content h3 {
  margin: 0 0 15px;
  font-family: "Info", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase; }

.team__content b {
  font-family: "Info", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase; }

.team__visualization-wrapper {
  margin-top: 55px; }

.team__visualization-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none; }

.team__visualization-item:nth-child(n + 2) {
  margin-top: 75px; }

.team__visualization-item img {
  display: block; }

.team__visualization-item dl {
  margin: 17px 0 0;
  text-align: center; }

.team__visualization-item dt {
  font-family: "Info", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px; }

.team__visualization-item dd {
  margin: 7px 0 0; }

@media (min-width: 768px) {
  .team__content-wrapper {
    margin-top: 61px; }
  .team__content {
    text-align: center; }
    .team__content h3 {
      margin: 0 0 4px;
      font-size: 14px; }
    .team__content b {
      font-size: 14px; }
  .team__visualization-wrapper {
    margin-top: 45px; }
  .team__visualization-list {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between; }
  .team__visualization-item {
    width: 165px; }
    .team__visualization-item:nth-child(n + 2) {
      margin-top: 0; }
    .team__visualization-item dl {
      margin: 16px 0 0; }
    .team__visualization-item dt {
      font-size: 16px;
      line-height: 16px; }
    .team__visualization-item dd {
      margin: 3px 0 0;
      font-size: 14px;
      line-height: 19px; } }

@media (min-width: 1024px) {
  .team__content-wrapper {
    margin-top: 130px; }
  .team__content h3 {
    margin: 0 0 15px;
    font-size: 20px; }
  .team__content b {
    font-size: 20px; }
  .team__visualization-wrapper {
    margin-top: 60px; }
  .team__visualization-item {
    width: 221px; }
    .team__visualization-item img {
      width: 221px; }
    .team__visualization-item dl {
      margin: 25px 0 0; }
    .team__visualization-item dt {
      font-size: 21px; }
    .team__visualization-item dd {
      margin: 10px 0 0;
      font-size: 16px;
      line-height: 21px; } }

@media (min-width: 1280px) {
  .team__content-wrapper {
    margin-top: 152px; }
  .team__content h3 {
    margin: 0 0 22px;
    font-size: 25px; }
  .team__content b {
    font-size: 25px; }
  .team__visualization-wrapper {
    margin-top: 75px; }
  .team__visualization-item {
    width: 277px; }
    .team__visualization-item img {
      width: auto;
      height: 277px; }
    .team__visualization-item dl {
      margin: 26px 0 0; }
    .team__visualization-item dt {
      font-size: 27px;
      line-height: 34px; }
    .team__visualization-item dd {
      margin: 8px 0 0;
      font-size: 17px;
      line-height: 23px; } }

@media (min-width: 1920px) {
  .team__content-wrapper {
    padding-top: 310px; }
  .team__content h3 {
    margin: 0 0 20px;
    font-size: 38px;
    line-height: 47px; }
  .team__content b {
    font-size: 38px;
    line-height: 47px; }
  .team__visualization-wrapper {
    padding-top: 110px; }
  .team__visualization-item {
    width: 400px; }
    .team__visualization-item img {
      width: auto;
      height: 400px; }
    .team__visualization-item dl {
      margin: 40px 0 0; }
    .team__visualization-item dt {
      font-size: 40px;
      line-height: 50px; }
    .team__visualization-item dd {
      margin: 15px 0 0;
      font-size: 26px;
      line-height: 34px; } }


/*# sourceMappingURL=main.css.map*/