extends ../layout/main

block content
  section.aup
    .container
      h2.visually-hidden Cookie-richtlinien
      h3 Cookie-richtlinien
      .aup__content-wrapper
        h4.aup__title Title
        p.aup__sub-title Sub-title
        p Text

